# CONFIGURAÇÕES DO SQUAD 3 - 02-MODULO-LABORATORIO
PORT=8082
NODE_ENV=development

# POSTGRESQL & ZODB CONFIGURATION
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=senaite_lims_db
POSTGRES_USER=senaite_user
POSTGRES_PASSWORD=senaite_pass_secure

# BARRAMENTO N8N & HUB 360
N8N_WEBHOOK_URL=http://localhost:5678/webhook/hospital360-eventos
HUB_CORE_API_URL=http://localhost:3000/api/v1/jornada-doortodoor
