OPENBOXES_PORT=8084
MARIADB_DATABASE=openboxes_farmacia
MARIADB_USER=openboxes
MARIADB_PASSWORD=openboxes_secret_pass
DATABASE_URL=jdbc:mysql://mariadb_farmacia:3306/openboxes_farmacia
TENANT_ID=hospital_360_default
HUB_CORE_URL=http://localhost:3000/api/ingestao-modulos
WMS_MODULE_URL=http://localhost:8085/api/wms/separacao
