# CONFIGURAÇÕES DO SQUAD 2 - 01-MODULO-CLINICAS
PORT=8081
NODE_ENV=development

# MARIADB MULTI-TENANT CONFIGURATION
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=secret_root_hospital360
MYSQL_DATABASE=openemr_tenant_cardiovida
MYSQL_USER=openemr_user
MYSQL_PASSWORD=openemr_pass_secure

# WEBHOOKS & BARRAMENTO N8N
N8N_WEBHOOK_URL=http://localhost:5678/webhook/hospital360-eventos
HUB_CORE_API_URL=http://localhost:3000/api/v1/jornada-doortodoor
